apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: spring-boot-second
  namespace: argo
spec:
  project: default

  source:
    repoURL: https://github.com/veresattila2002/spring-boot-k8s-2.git
    targetRevision: HEAD
    path: dev

  destination:
    server: https://kubernetes.default.svc
    namespace: spring-boot-second-app

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
